@import '../_variables.scss';

.layout {
    display: flex;
    height: calc(100vh - 80px);
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: $background-color;
  }
  
  /* 📱 Mobil layout*/
  @media (max-width: 480px) {
    .layout {
      flex-direction: column;
    }
  }